/* 
 * Layout elements and specific instances (id)
 */
 #container
 {
 
 }
 
 #header
 {
 
 }
 
 #sidebar
 {
 
 }
 
 #content
 {
 
 }
 
 #adds
 {
 
 }
 
 #footer
 {
 
 }
 
 
 /*
  * Styling classes
  */
 
.main-view
{

}

.main-view h2
{

}

.message-view
{

}

.message-view h3
{

}

.message-view p
{

}

.info-view
{

}

.info-view h3
{

}

.info-view p
{

}

.wine-rating 
{
	margin-bottom: 10px;
	border-bottom-style:solid;
	border-color:#E6E6E6;
	border-width:1px;
}

.wine-rating h3
{

}

.wine-rating p
{
	line-height:1px;
	font-size:1em;
}

.user-form
{

}

.action-menu
{

}

.action-menu a
{

}

.user-menu {

}

.footer-link
{

}
